.form-control {
    display: flex;
    margin-top: 10px;
}
.form-control label {
    width: 100px;
    flex: 1;
}
.form-control > input, .form-control > textarea {
    flex: 1;
    width: 100%;
    padding: 3px 6px;
}
.rating-submit {
    justify-content: space-between;
}
.rating-submit input {
    width: 145px;
    flex: unset;
}
span.text-danger {
    color: #cc7474;
    display: block;
    margin: 4px 0 7px;
}